@use "./../../../../../styles.scss";

.wrapper {
  width: 100vw;
  display: flex;
}
.width-10 {
  width: 20vw;
  .nav-wrapper {
    position: fixed;
  }
}

.width-90 {
  width: 80vw;
  height: 100vh;
  background-color: styles.$primary-background;
}
