<div class="wrapper">
  <header class="profile">
    <div class="image-wrapper">
      <a target="_blank" [href]="this.profile?.profilePhoto">
        <div
          class="user-image"
          style="background: url('{{ this.profile?.profilePhoto }}/2') white;"
        ></div>
      </a>
    </div>
    <div class="user-information">
      <div class="name">
        <span>{{ this.profile?.nickName }}</span>
        <div
          *ngIf="this.profile?.isRequesterOwnsProfile == false"
          class="profile-actions-panel"
        >
          <app-loading-button
            [canClick]="this.isFollowProcessing == false"
            [color]="
              this.profile?.isRequesterFollowsProfile == false
                ? 'btn-primary'
                : 'btn-secondary'
            "
            [isLoading]="this.isFollowProcessing"
            [label]="
              this.profile?.isRequesterFollowsProfile == true
                ? 'Припинити слідувати'
                : 'Слідувати'
            "
            (click)="this.onFollow()"
          ></app-loading-button>
        </div>
        <div
          *ngIf="this.profile?.isRequesterOwnsProfile == true"
          class="profile-management-panel"
        >
          <!-- <a class="change"> Edit </a>
          <div class="settings">
            <svg
              aria-label="Параметри"
              class="_ab6-"
              color="#fafafa"
              fill="#fafafa"
              height="24"
              role="img"
              viewBox="0 0 24 24"
              width="24"
            >
              <circle
                cx="12"
                cy="12"
                fill="none"
                r="8.635"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              ></circle>
              <path
                d="M14.232 3.656a1.269 1.269 0 0 1-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 0 1-.796.66m-.001 16.688a1.269 1.269 0 0 1 .796.66l.505.996h1.862l.505-.996a1.269 1.269 0 0 1 .796-.66M3.656 9.768a1.269 1.269 0 0 1-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 0 1 .66.796m16.688-.001a1.269 1.269 0 0 1 .66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 0 1-.66-.796M7.678 4.522a1.269 1.269 0 0 1-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 0 1-.096 1.03m11.8 11.799a1.269 1.269 0 0 1 1.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 0 1 .096-1.03m-14.956.001a1.269 1.269 0 0 1 .096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 0 1 1.03.096m11.799-11.8a1.269 1.269 0 0 1-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 0 1-1.03-.096"
                fill="none"
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="2"
              ></path>
            </svg>
          </div> -->
          <div>
            <app-loading-button
              [color]="'btn-secondary'"
              [label]="'Вийти з профіля'"
              (click)="this.onLogout()"
            ></app-loading-button>
          </div>
        </div>
      </div>
      <div class="info">
        <span>{{ this.profile?.countPosts }} постів</span>
        <a
          [routerLink]="['/followers']"
          [queryParams]="{ id: this.profile?.id, strategy: 'followers' }"
        >
          <span class="curs"
            >Підписників: {{ this.profile?.countFollowers }}</span
          >
        </a>
        <a
          [routerLink]="['/followers']"
          [queryParams]="{ id: this.profile?.id, strategy: 'followings' }"
        >
          <span class="curs">Підписок: {{ this.profile?.countFollowing }}</span>
        </a>
      </div>
      <div class="user-pseudonim">
        <span class="curs">{{ this.profile?.fullName }}</span>
      </div>
      <!-- <div class="user-deskription">
        <span class="curs">Ababsdfag gdfa</span>
      </div> -->
    </div>
  </header>
</div>
